# users-api/k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
        - name: app
          image: <YOUR_ECR>/users-api:latest
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: users-secrets
            - configMapRef:
                name: users-config
          readinessProbe:
            httpGet:
              path: /admin/login/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /admin/login/
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 20