apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api-deployment
  namespace: app
  labels:
    app: users-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: users-api
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
      - name: users-api
        image: 757054385635.dkr.ecr.us-east-1.amazonaws.com/users-api:latest
        ports:
        - containerPort: 8000
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: users-db-secret
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: users-db-secret
              key: DB_PORT
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: users-db-secret
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: users-db-secret
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: users-db-secret
              key: DB_PASS
        - name: DEBUG
          valueFrom:
            configMapKeyRef:
              name: users-api-config
              key: DEBUG
        - name: ALLOWED_HOSTS
          valueFrom:
            configMapKeyRef:
              name: users-api-config
              key: ALLOWED_HOSTS
        - name: NOTIFY_URL
          value: "http://notification-service.app.svc.cluster.local:9000/notify"
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        # readinessProbe:
        #   httpGet:
        #     path: /healthz
        #     port: 8000
        #   initialDelaySeconds: 5
        #   periodSeconds: 10
        # livenessProbe:
        #   httpGet:
        #     path: /healthz
        #     port: 8000
        #   initialDelaySeconds: 15
        #   periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: users-api-service
  namespace: app
  labels:
    app: users-api
spec:
  type: NodePort
  selector:
    app: users-api
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
